:root{
    /*     Logo     */
    --negro: rgb(0, 0, 0);
    --blanco: rgb(255, 255, 255);
    --grisHeader: #ffffff;
    --grisButton:rgb(42, 45, 64);
    --grisDf: rgb(72, 91, 115);
    --grisContenedor:  rgb(138, 153, 166 , 20%);
    --Grisresaltado: rgb(138, 153, 166 , 95%)

}

/*  Globales    */

html{
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    background-repeat: no-repeat;
      background-size: cover;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

  body{
      margin: 0;
      font-size: 16px;
      font-family: 'Krub', sans-serif;
      /*background-image: radial-gradient(var(--blanco) 0%,var(--grisDf) 100%);*/
      background-color: #ffffff ;
      
    }
 
  .sombra{
    -webkit-box-shadow: 1px 1px 5px 5px rgba(42,45,64,1);
    -moz-box-shadow: 1px 1px 5px 5px rgba(42,45,64,1);
    box-shadow: 1px 1px 5px 5px rgba(42,45,64,1);

  }
  .border-radius{
      border-radius: .4rem;
  }

  .boton{
    background-color:var(--grisButton);
    color: var(--blanco);
    padding: .5rem .1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .7rem;
    width: 40%;
    text-align: center;
}
.boton:hover{
    cursor: pointer;
   
}
.contenedor-boton{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Header general */
    /*  Pintar Logo   */

.header-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*le cambie*/
    background-color: var(--grisHeader);
    width: 100%; 
 
}
.imagen-logo{
    height: 60px;
}
.header-principal-index{
  
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid rgb(0,0,0,.05);
    border-top: 3px solid var(--negro);
    background-color: var(--grisHeader);
  
}
.tooltip {
    position: relative;
    display: inline-block;


}
  
  .tooltip .tooltiptext {
    visibility: hidden;

    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 0;
  
    /* Position the tooltip */
    position: absolute;
    width: 200%;
    top: 3.5rem;
    left: -10px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
.Logo-Online{
    display: flex;
    align-items: center;
    }

    .user{
        color: black; 
        text-align: center;
    }
    
    .opciones{
        display: flex;
        align-items:center;
    } 

  

     ul,li{
        padding: 0px;
        margin: 1px;
        list-style: none;
        
    }
    .opciones li a{ 
        color: black;
        background-color: white;
        display:block ;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        padding: .1rem; 
    }

   
    .opciones li a:hover{
        border-radius: .5rem;  
        background-color: var(--Grisresaltado); 
    }   

    .opciones > li{
        float: left;
    }

   .opciones li ul{
       display:none ;
       position: absolute;
   }

   .opciones li:hover > ul {
       display: block;
   }

   .busqueda{
       display: flex;
       align-items: center;
       flex-direction: row;
        justify-content: center;
        font-weight: 400;
   }
   .busqueda input{
       background-color:  rgb(226 225 225);
       width: 30rem;
       height: 3rem;
       border:none;
   }

   
        .segunda-linea{
            display: flex;
            
            align-items: center;
        }

        .tercera-linea{
            display: flex;
            align-items: center;
        }

    .boton-busqueda{
        background-color: #f8f8f8;
        border:#f8f8f8;
    }
    .boton-busqueda:hover, .boton-mis-clases:hover{
        background-color: var(--Grisresaltado);
        cursor: pointer;
    }
    
    
    .mis-clases a{
       color: black;
    }
    
    .mis-clases a:hover{
        background-color: var(--Grisresaltado);
    }

    .boton-mis-clases{
  border: none;
  background-color: rgb(0, 0, 0,0);
      
    }
   
    
    .icon-mail:hover{
        cursor: pointer;
        background-color: var(--Grisresaltado);
    }
    .buzon{
        display: flex;
        text-align: center;
    }
    .notificacion{
        background-color: red;
        color:var(--negro);
        border-radius: 1rem;
        height: 1.7rem;
        width: 1.7rem;
    }
    
.perfil{
    margin-left: 5rem;

}
    @media (max-width: 768px) {
        .busqueda input{
            width: 15rem;
        }
       
    }
    
    @media (max-width: 600px) {
        
        .header-principal-index{
            flex-direction: column;
        }
        .tercera-linea{
            display: flex;
            align-items: center;
            justify-content: center;
    
        }
        .buzon{
            margin: 0;
        }
    }



.header-principal div{
    display: flex;
    text-align: center;
    padding: .2rem;
    margin-top: 1rem;
    
}








/*  Termina el header general*/
.Form-Ingreso{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
 }

 @media (min-height: 480px) {
     .Form-Ingreso{
        margin-top: 10rem;    
     } 
 }

.Form-Inicio{
    width: min(40rem, 100% ); /*   Utilizar el valor mas pequeño   */    
    border-radius: 1rem;
    
}

.Form-Inicio fieldset{
    border: none;
}

.header-fieldset div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





.input-text{
    align-items: center;
}

.Txt-Label-Nip{
    margin-left: 2.5rem;
}

.input-text-Nip{
    margin-right: .2rem;
}

.contenedor{
    background-color: var(--grisContenedor);
    border-radius: 1rem;
}

.pie-de-pagina{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}



.pie-de-pagina p, 
        a{
            font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--grisButton);
}

.pie-de-pagina a:hover{
    background-color: var(--blanco);
}

.pie-de-pagina p:hover{
    background-color: var(--blanco);
}






  /*    Pagina de video  */

  .contenedor-sections{
    height: 55rem;
      display: grid;
      grid-template-columns: repeat(6,1fr);
      grid-template-rows: repeat(6,1fr);
      column-gap: 1rem;
  }
  
  

  .video{
      grid-column: 2/6;
      grid-row: 1/5;
  }

  .comentarios{
      grid-column: 2/6;
      grid-row: 5/7;
  }

  .lista{
     grid-row: 1/7;
  }

    
  
    .contenedor-principal{
        height: calc(100vh - 72px);
        overflow-y: scroll;
    }


    .contenedor-principal::-webkit-scrollbar{
       
        width:5px;
    }
    
    .contenedor-principal::-webkit-scrollbar-thumb{
        border-radius: 20px;
        background-color: #303030;
    }
  
  .horario-grid{
      overflow-y: scroll;
      height: 30rem;
    margin: 1rem;
    grid-column: 1/19;
    grid-row: 4/7;
    border: .1px rgb(170, 170, 170) solid;
    text-align: center;
  }
  .horario-grid::-webkit-scrollbar {
    width: 5px;
}
.horario-grid::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 90px;
}

  

  .claseiniciada-grid{
    height: 30rem;
    text-align: center;
      margin: 1rem;
      grid-column: 1/19;
      grid-row: 1/4;
     
  }

   .horario tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    }

    .horario {
        overflow: scroll;
        width: 95%;
        height: 90%;   
    }
    
    .btn-menu{
        float: left;      
        
    }
    .btn-menu label{
        cursor: pointer;
    }
    .aside .container-menu{      
        margin-left: 1rem;
        margin-top: 5px;
        grid-row: 12/15;

       }
    .horario tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    }   
  .contenedor-materia a{
     color: black;
  }

   

   #btn-menu{
       display: none;
   }

   .container-menu{
       position: absolute;
       background-color: rgb(0, 0, 0,0.5);
       width: 100%;
       height: calc(100vh - 100px);
       top: auto;left: 0;
       transition: all 500ms ease;
       opacity: 0;
       visibility: hidden;
       
   }

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
   .cont-menu{
       width: 100%;
       max-width: 250px;
       background:#3e3e3e;
       height: calc(100vh - 100px);
       position: relative;
       transition: all 500ms ease;
       transform: translateX(-100%);
   }
   #btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
   .cont-menu nav{
       transform: translateY(15%);
   }
   
   .cont-menu nav a{
       display: block;
       text-decoration: none;
       padding: 2rem;
       color: rgb(255, 255, 255);
       border-left: 5px solid transparent;
        transition: all 400ms ease;
    }
    .cont-menu nav a:hover{
        border-left: 5px solid #c7c7c7;
        background: #1f1f1f;
    }
    .cont-menu label{
        position: absolute;
        right: 5px;
        top: 10px;
        cursor: pointer;
    }
    .menu-clases{
        display: flex;
       align-items: center;
    }

    

    .clases-t{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6rem;
    }

/*  Index Maestros */
.horario-grid-m{
    margin: 1rem;
    grid-column: 1/19;
    grid-row: 1/10;
    border-color: black;
    text-align: center;
}

.tareas-grid{
    display: flex;
    justify-content: space-around;
    grid-column: 1/15;
    grid-row: 10/19;
    border: 2px solid black;
}

.lista-r-grid{
    display: flex;   
    justify-content: space-between;
    grid-column: 15/19;
    grid-row: 10/19;
    border: 2px solid black;
}
/* Fin index Maestros */

/*Codigo para Modal*/
#show-modal{
    text-align: center;
    background-color: rgb(87, 87, 87, );
    padding: .6rem;
    border-radius: 1rem;
    color: white;
    font-size: 30px;
    text-decoration: none;
    
}

#show-modal:hover{
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.638);
}

.modal{
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 99999999;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.35s ease;
}

.modal .content-modal{
    width: 100%;
    max-width: 500px;
    position: fixed;
    left: 60%;
    top: -100vh;
    transition: top 0.35 ease;
    margin-left: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 99999999;
}
.content-modal{
    background: rgb(80, 80, 80);
    padding: 4px;
    
}

.modal h2{
    background: rgb(80, 80, 80);
    padding: 10px;
    text-align: center;
    color: #ffffff;
    margin: 0;
}


.close-modal{
    color: black;
    position: absolute;
    top: 0.2em;
    right: 0.375em;
    margin: 0;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

.modal a:hover{
    color: black;
}

.modal:target{
    opacity: 1;
    top: 0;
}

.modal .btn-close-modal{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999991;
}


.modal:target .content-modal{
    top: 50px;
    transition: top 0.35s ease;
}

@media (max-width: 486px){
    .modal .content-modal{
        width: 90%;
        max-width: none;
        left: 5%;
        margin-left: 0;
    }
}

.botones-modal{
    display: flex;
    justify-content: space-around;
    
}
.botones-modal button{
    border-radius: 5px;
    background: rgb(104, 104, 104);
    padding: 3px;
}
.botones-modal button:hover{
    background-color: rgba(0, 128, 128, 0.638);
    cursor: pointer;
}
/*Fin codigo Modal*/


/*Tareas*/

.materias-t{
margin:  .5rem;
grid-column: 1/15;
grid-row: 7/14;
border: 2px solid black;

}

.listar-t{
    margin:  .5rem;
grid-column: 15/19;
grid-row: 7/19;
border-bottom: 1px solid #00000034;

}

.otros-t{
    margin:  .5rem;
grid-column: 1/15;
grid-row: 14/19;
border: 2px solid black;

}

/* Fin Tareas */


/*Clases*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: gray;
    grid-column: 1/19;
    height: 5rem;
}

.navbar-opc{
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.navbar-opc:hover{
    cursor: pointer;
    background: rgb(191, 190, 190);
    color: rgb(255, 255, 255);
}

.hero{
    margin-top: 1rem;
    margin-bottom: 2rem;
  border: solid 1px black;
  height: 170px;
  max-width: 100%;
 margin-left: 10rem;
 margin-right: 10rem;
}

.info-hero{
    margin-left: 1rem;
    font-size: 24px;
}
.contenedor-publicacion{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 3rem;
    height: 120px;
}
.textarea-publicar{
    width: 100%; 
    height: calc(100% - 29px); 
    border-radius: .5rem;
}
.btn-publicar{
    display: flex;
    align-items: initial;
    justify-content: flex-end;
}
.contenedor-comentarios{
    margin-left: 10rem;
    margin-right: 10rem;

}

.alinear{
    display: flex;
    align-items: center;
}

.textarea-respuesta{
    min-width: calc(100% - 140px);  
    border-radius: .5rem;
}

/*Fin clases*/

/*Tareas*/
.tablon-tareas{
    width: 60%;
    margin-left: 5rem;
}
.indice-tareas{
    align-items: center;
    width: 15%;
    margin-left: 2rem;
    margin-top: 5rem;
    font-weight: 400;
}

.button-tareas{
    border-radius: 5px;
}

.button-tareas:hover{
    background-color: #c7c7c7;
    cursor: pointer;
}
.contenedor-tareas{
display: flex;
}

.bloque-tarea{
    margin-bottom: 5rem;
}
.segmento-tarea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

.segmento-tarea:hover{
    cursor: pointer;
    border-radius: .4rem;
    background-color:rgb(196, 193, 193)
}

.div-tarea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 1rem;
    border-bottom: solid 1px rgb(162, 162, 162);
    margin-bottom: 1rem;
}

.div-tarea:hover{
    border-radius: .5rem;
    cursor: pointer;
    background-color:rgb(196, 193, 193) ;
}
/*Fin Tareas*/

/*Crear Tareas*/
.crear-tarea-opc{
 margin: 2rem;
}
.tarea-input{
    width: 100%; 
    height: 4rem; 
    border-radius: .5rem;
    margin: 3px;
}

.tarea-input:hover{
    background-color: #c7c7c7;
    cursor: pointer;
}

.boton-tarea{
    border-radius: .5rem;
}

.boton-tarea:hover{
    background-color: #c7c7c7;
    cursor: pointer;
}

/*Fin Crear Tareas*/

/*Inicio Videos*/
.contenedor-videos{

    width: 100%;
    overflow: hidden;


}

.segmento-video{
    margin: 2rem;
    float: left;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 1px black;
}

/*Fin Videos*/

.componente-clase{
    margin: 1.5rem;
}

.medidaimagen{
    height: 128px;
}

.medidas-hero{
    width: 95%;
    margin: 2rem;
}

.scroll-horario{
    overflow-y: scroll;
}
.scroll-horario::-webkit-scrollbar{
    width: 5px;
    background-color: #3a3a3a;
}

.MultiCheckBox {
    border:1px solid #e2e2e2;
    padding: 5px;
    border-radius:4px;
    cursor:pointer;
}

.MultiCheckBox .k-icon{ 
    font-size: 15px;
    float: right;
    font-weight: bolder;
    margin-top: -7px;
    height: 10px;
    width: 14px;
    color:#787878;
} 

.MultiCheckBoxDetail {
    display:none;
    position:absolute;
    border:1px solid #e2e2e2;
    overflow-y:hidden;
}

.MultiCheckBoxDetailBody {
    overflow-y:scroll;
}

    .MultiCheckBoxDetail .cont  {
        background-color: white;
        clear:both;
        overflow: hidden;
        padding: 2px;
    }

    .MultiCheckBoxDetail .cont:hover  {
        background-color:#cfcfcf;
    }

    .MultiCheckBoxDetailBody > div > div {
        float:left;
    }

.MultiCheckBoxDetail>div>div:nth-child(1) {

}

.MultiCheckBoxDetailHeader {
    overflow:hidden;
    position:relative;
    height: 28px;
    background-color:#3d3d3d;
}

    .MultiCheckBoxDetailHeader>input {
        position: absolute;
        top: 4px;
        left: 3px;
    }

    .MultiCheckBoxDetailHeader>div {
        position: absolute;
        top: 5px;
        left: 24px;
        color:#fff;
    }